# Compiled Output
/out/
/build/
*.jar

# IDE Files
.idea/       # For IntelliJ
.gradle/     # Gradle cache files

# OS Files
.DS_Store    # For macOS
Thumbs.db    # For Windows

# Log/Temp Files
logs/
